.confirmation-page {
    max-width: 800px;
    margin: auto;
  }
  
  .booking-summary, .traveler-info, .payment-summary {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
  }
  
  h4 {
    margin-bottom: 15px;
  }
  
  .total-cost p {
    font-size: 1.25rem;
    color: #333;
  }
  
  .print-button {
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .chat-box-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .chat-toggle-button {
    border-radius: 50px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
  }
  
  .chat-box {
    width: 500px;
    max-height: 600px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    overflow: hidden;
  }
  
  .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #007bff;
    color: white;
  }
  
  .chat-content {
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .chat-input {
    display: flex;
    padding: 10px;
  }
  
  .chat-input input {
    flex: 1;
    margin-right: 5px;
  }
  

  .chat-box h2 {
    font-size: 1.2rem;
    color: #084381;
  }
  
  .chat-box p {
    font-weight: normal;
    margin: 0.5rem 0;
  }
  
  .chat-box strong {
    color: #574747;
  }