body {
    margin: 0;
    padding: 0;
}

body * {
    font-family: inherit;
    padding: 0;
    margin: 0px;
}

.shop-travel-button {
    color: black !important;
    font-weight: 600;
    text-decoration: none;
}